<!-- Include jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8" crossorigin="anonymous"></script>

<citizens>
    <div th:if="${ not#lists.isEmpty(citizens)}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>PhoneNumber</th>
                <th>SSN</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="citizen : ${citizens}">
                <td th:text="${citizen.firstName}"></td>
                <td th:text="${citizen.lastName}"></td>
                <td th:text="${citizen.phoneNumber}"></td>
                <td th:text="${citizen.socialSecurityNumber}"></td>
                <td th:if="${citizen.id}">
                    <a class="btn btn-info" th:href="@{/citizen/{id}(id=${citizen.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/citizen/{id}/delete(id=${citizen.id})}">Delete</a>
<!--                    <div th:if="${ not#lists.isEmpty(requests)}">-->
                    <a class="btn btn-info" th:href="@{/citizen/{id}/request (id=${citizen.id})}">Requests</a>
<!--                    </div>-->
                    <a th:href="@{/citizen/{citizen_id}/request/new(citizen_id=${citizen.id})}" class="btn btn-primary" role="button">Create new request</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(citizens)}">
        No Citizens found!
    </div>
    <a href="/citizen/new" class="btn btn-primary" role="button">Create new citizen</a>


    </script>

</citizens>