

<footer xmlns:sec="http://www.w3.org/1999/xhtml">
    <style>
        .footer {
            position: absolute;
            top: 89%;
            width: 100%;
            text-align: center;
        }
    </style>
    <div class="footer">
        <div sec:authorize="isAuthenticated()">
            Authenticated email:
            <span sec:authentication="name"></span>
            | Authenticated user roles:
            <span sec:authentication="principal.authorities"></span>
        </div>
        <hr/>
        <p>&copy; 2024 Family Doctor. All rights reserved.</p>
    </div>
</footer>

</html>